.box1{
    background: blue;
    color: azure;
}

.box2{
    background: green;
    color: beige;
}

figure {
    margin: 0;
    padding: 0;
}

img {
    width: 20%;
    height: auto;
    display: block;
} 